/*

	BUILT BY REXS DEVELOPMENT & DESIGN
		REXSDEV.COM
	BUILT FOR REXSDEV.COM (ALL RIGHTS RESERVED)
	BUILT ON OCTOBER 18TH, 2016.

*/
@media only screen and (min-device-width: 320px) and (max-device-width: 426px) {
	#legal p,
	#legal b {
		text-align: center;
	}
	.main-panel .divider {
		display: block;
		border-top: 1px solid #6b6760;
		height: 0;
		margin: 10px 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	  opacity: 0.4;
	}
}
@media only screen and (min-device-width: 680px) and (max-device-width: 768px) {
	#legal p,
	#legal b {
		text-align: left;
	}
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: -webkit-linear-gradient(#ffc107, #ff9e01);
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 50px;
  }
	.main-panel .divider {
		display: block;
		border-top: 1px solid #6b6760;
		height: 0;
		margin: 10px 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	  opacity: 0.4;
	}
}
@media only screen and (min-device-width: 995px) and  (max-device-width: 1025px) {
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: -webkit-linear-gradient(#ffc107, #ff9e01);
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 50px;
  }
	.main-panel .divider {
		display: block;
		border-top: 1px solid #6b6760;
		height: 0;
		margin: 10px 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	  opacity: 0.4;
	}
	.main-panel {
		margin-left: 70px;
	}
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px){
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: -webkit-linear-gradient(#ffc107, #ff9e01);
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 50px;
  }
	.main-panel .divider {
		display: block;
		border-top: 1px solid #6b6760;
		height: 0;
		margin: 10px 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	  opacity: 0.4;
	}
}
@media screen and (min-device-width: 1601px) and (max-device-width: 1921px){
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: -webkit-linear-gradient(#ffc107, #ff9e01);
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 50px;
  }
	.main-panel .divider {
		display: block;
		border-top: 1px solid #6b6760;
		height: 0;
		margin: 10px 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	  opacity: 0.4;
	}
}
@media screen and (min-device-width: 1922px){
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: -webkit-linear-gradient(#ffc107, #ff9e01);
    width: 2px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 50px;
  }
	.main-panel .divider {
		display: block;
		border-top: 1px solid #6b6760;
		height: 0;
		margin: 10px 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	  opacity: 0.4;
	}
}
